h1 { color: #da8d77; }
h2 { color: #fdfbf4; }
h3 { color: #da8d77; }
h4 { color: #000000; }
h5 { color: #421723; }
h6 { color: #421723; }

a {
  color: #3f51b5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
	width: 100%;
  height: 100%;
  margin: 0;
  background: #f3f1f1;
  font-family: 'Oswald', sans-serif;
}

main {
  width: : 100%;
	max-width: 1110px;
  padding: 10px;
  min-height: calc(100vh);  
  margin: 0px auto;	
  margin-bottom: 40px;
  color: #313131;
}

header {
  font-family: 'Poiret One', cursive !important;
  width: 100%;
  position: fixed;
  padding: 0px 10px;
  z-index: 100;
  top: 0;
  left: 0;
  background: #3f51b5;
  opacity: 0.85;
}

footer {
  font-family: 'Poiret One', cursive !important;
  width: 100%;
  color: #fff;
  background: #3f51b5;
}

p {
  margin: 5px;
  word-break: break-word;
}

span {
}

.heading {
  font-weight: 700;
  font-size: 28px;
  color: #4e4d4d;
}

p.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.largest__text {
  font-size: 26px;
}

.bigger__text {
  font-size: 21px;
}

.smaller__text {
  font-size: 14px;
}

.unstrictly {
  font-family: 'Poiret One', cursive !important;
}

.strictly {
  font-family: 'Poiret One', cursive !important;
}

.bold {
  font-weight: 700;
}

.extra__bold {
  font-family: 'Oswald', sans-serif;
  color: #000000;
}

.sec__color {
  color: #da8d77 !important;
}

.underline {
  text-decoration: underline;
}

.horizontal li{
  display: inline-block;
  width: 200px;
  padding: 10px;
  background: #fff;
  margin: 10px;
}

.hidden {
  display: none;
}